# Workspace
.claude
graphify-out

# Python / Django
backend/venv/
backend/.venv/
backend/.env
*.pyc
__pycache__/
backend/db.sqlite3
backend/logs/


# Node / React / Frontend
frontend/node_modules/
frontend/dist/
