SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True

USE_SQLITE=True
DB_NAME=gms_db
DB_USER=gms_user
DB_PASSWORD=gms_password
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=sfitudbjxdsnybslvtf6tftctccrcjuyttt
DEFAULT_FROM_EMAIL=Grievance Management System <example@gmail.com>
